.delete-back {
  display: flex;
  justify-content: space-around;

  .delete {
    background-color: #FF6081;
  }

  .delete:hover {
    border-color: red;
    background-color: white;
  }
  button {
    font-size: 20px;
    width: 150px;
    height: 60px;
  }
}