.submit-form {
  margin: 0 30%;

  .input-title {
    height: 45px;
    width: 100%;
  }

  .input-description {
    width: 100%;
    height: 300px;
  }

  button {
    margin-top: 20px;
    font-size: 20px;
    width: 150px;
    height: 60px;
  }

  .note-input-button {
    display: flex;
    justify-content: space-around;
  }

  .submit-button {
    background-color: #FF6081;
  }

  .submit-button:hover {
    border-color: red;
    background-color: white;
  }
}