.note-header {
  background-color: #A8B6F5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    position: absolute;
  }

  .note-logo {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 40px;
  }
}

