.noteIntro {
  width: 200px;
  height: 300px;
  font-size: 30px;
  text-align: center;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.2);

  a {
    color: white;
    text-decoration: none;
  }
}

.noteIntro:nth-child(even) {
  background-color: #F8D28D;
}

.noteIntro:nth-child(odd) {
  background-color: #F59D7B;
}