.noteNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 200px;
  flex-wrap: wrap;
  margin: 0;
  background-color: #F1F2F6;
  height: 100%;

  li {
    height: 30px;
    width: 200px;
  }
}
